<link rel="stylesheet" type="text/css" href="/assets/css/styles2.css">
<!-- Page Content -->
<div class="wrapper">
    <!--header-->
    <header id="header">

        <div class="menu">
            <nav class="navbar navbar-wrapper">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </div>
                    <div id="main-nav" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/home" class="scroll-link">Home</a>
                            </li>
                            <li><a href="/myBets" class="scroll-link">{{currentUsername}}'s Bets</a>
                            </li>
                            <li><a href="/newBet" class="scroll-link">New Bet</a>
                            </li>
                            <li><a href="/logout" class="scroll-link">Logout</a>
                            </li>


                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <hgroup class="logo-header">
            <img src="/assets/img/BIR-Logo-v2.png" width="500" alt="logo" />
            <h3>Social Betting Made Easy!</h3> 
        </hgroup>

    </header>

    <section class="service page-section" id="service">
        <h2>User Bets</h2>
        {{#each currentBets}}
            <li>{{this.bet_text}}</li>
            Your Pick: {{this.p1_answer}}
        {{/each}}
    </section>



    <section class="service page-section" id="service">
        <h2>Community Bets</h2>
        {{#each communityBets}}
     
            <div class="community-vote-div">
                <h2>Bet: {{this.bet_text}}</h2>
                <form class="community-vote-form" id="betID-{{this.bet_id}}">
                    <!-- {{this.bet_id}} -->
                    <label for="{{this.bet_id}}-leftOption">
                    <input type="radio" name="{{this.bet_id}}" id="{{this.bet_id}}-leftOption" value="left"> <span>{{this.p1_answer}}</span>
                    </label>

                    <label for="{{this.bet_id}}-rightOption">
                    <input type="radio" name="{{this.bet_id}}" id="{{this.bet_id}}-rightOption" value="right"> <span>{{this.p2_answer}}</span>
                    </label>

                    <input type="submit" value="Submit" class="communitySubmitButton" id="{{this.bet_id}}">

                    <p class="voteText" id="voting-{{this.bet_id}}"></p>

                    <!-- <button type="submit" form="form1" value="Submit">Submit</button> -->

                </form>

                

            </div>



        {{/each}}
    </section>







    <section class="service page-section" id="userStatsBox">
        <h2>User Statistics</h2>
        {{#each userData}}
            <li>Wins: {{this.wins}}</li>
            <li>Losses: {{this.losses}}</li>
            <li>Current Points: {{this.current_points}}</li>
            <li>Lifetime Points Won: {{this.total_points_won}}</li>
            <li>Lifetime Points Lost: {{this.total_points_lost}}</li>
        {{/each}}
    </section>



    <!--footer-->
    <section class="footer" id="footer">
        <p class="text-center">
            <a href="#header" class="gototop"><i class="fa fa-angle-double-up fa-2x"></i></a>
        </p>
        <div class="container">
            <!-- Commented out, but links for social media below -->
            <!--         <ul>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fa fa-flickr"></i></a></li>
        </ul> -->
            <p>
                Copyright &copy; 2016 Bet I'm Right
            </p>
        </div>
    </section>

</div>
    <!--wrapper end-->

<script type="text/javascript">
    jQuery(function($) {
    $(document).ready( function() {
        $('.navbar-wrapper').stickUp();
        });
    });

//------------------------------------- Community Submit Functions -------------------------------------//

    $(".communitySubmitButton").on("click", function(event) {
        event.preventDefault();

        console.log("The button was clicked");

        var btn = $(this).find("input[type=submit]:focus" ); //Grabs the info of the button we clicked
        //console.log(btn);

        var betID = btn.context.id;
        //console.log(betID);

        var voterPick = $('input:radio[name='+ betID + ']:checked').val();
        //console.log(voterPick)

        //Create a data object to pass on to the checkVote route
        var data = {
            currentBetID: betID,
            currentUserID: localStorage.getItem("currentUserID"),
            voterPick: voterPick
        }
        //console.log(data);

        var currentURL = window.location.origin + "/api/checkVote";

        // post our voting data
        $.post(currentURL, data, function(results){
            //console.log("THIS IS THE RESULTS: " + results);

            if (results) {
                $("#voting-"+betID).text("You have already voted on this Community Bet.");
            }
            else {
                $("#voting-"+betID).text("Thanks for voting!");
            }
        });

        return false;
    })




</script>